.homeindex {
    background-color: #F4F4F4;
}
.nav {
    background-color: #FFFFFF;
    padding: 10px 0;
    img {
        width: 48px;
    }
    span {
        font-size: 13px;
        margin-top: 8px;
    }
}
.groups {
    padding: 8px;
    .lefttext {
        font-weight: 600;
        margin-left: 5px;
    }
    .righttext {
        font-weight: 300;
    }
    .groupsitem {
        text-align: center;
        background-color: #FFFFFF;
        margin: 3px;
        display: inline-block;
        width: 48%;
        padding: 15px 10px;
        .goupsl {
            font-weight: 600;
        }
        .goupsr {
            margin-top: 5px;
            font-size: 10px;
            font-weight: 300;
        }
    }
    .group {
        margin-top: 8px;
    }
}
.news {
    background-color: #FFFFFF;
    margin: 0 10px;
    padding: 0 10px;
    padding-top: 1px;
    .newsitem {
        height: 100px;
        margin: 5px 0;
        border-top: 1px solid rgb(228, 215, 215);
    img {
        height: 100%;
        width: 100%;
    }
    .text {
        position: relative;
        flex:2;
        height: 100px;
        padding: 5px;
        .title {
            font-weight: 500;
        }
        .left{
            position: absolute;
            left: 0;
            bottom: 10px;
            font-size: 10px;

        }
        .right{
            position: absolute;
            right: 0;
            bottom: 10px;
            font-size: 10px;

        }
    }
}
}
.swiper{
    position: relative;
    overflow: hidden;
.search {
    position: absolute;
    top: 30px;
    left:0;
    z-index: 1;
    width: 100%;
    line-height: 34px;
    .a{
    background-color: #ffffff;
    margin:  0 20px;

    .r {
    flex: 0;
    width: 24px;
    padding-right: 30px;
    }
    .l{
        padding-left: 10px;


        .r2 {
            flex: 4;
            font-weight: 200;

        }
    }

    }
}
}